html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    -ms-overflow-style: none;
	line-height: 1;
	height:10000vh;
}

body::-webkit-scrollbar {
    display: none;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	transition: all 0.5s ease-in-out;
}

.invisible{
    opacity:0;
}
.p1left{
	position: fixed;
	margin-top:1%;
	height: 56%;
	margin-left: 18%;
}

.p1middle{
	position: fixed;
	margin-top:1%;
	height: 56%;
    margin-left: 41.5%;}

.p1right{
	position: fixed;
	margin-top:1%;
	height: 56%;
    margin-left: 57.5%;
}

.p1bmiddle{
    position: fixed;
    margin-left: 39%;
    margin-top: 27%;
    height: 38%;
    transform: rotate(16deg);
}

.p1bright{
    position: fixed;
    margin-left: 63%;
    margin-top: 43%;
    height: 22%;
}

.coopertown{
	position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -600px;
    margin-left: -500px;
    height: 1200px;
    width: 1000px;
}
.p2left{
	position: fixed;
    top: 15%;
    height: 70%;
    left: 14%;
}

.p2middle{
	position: fixed;
    top: 15%;
    height: 70%;
    left: 43.25%;
}

.p2right{
	position: fixed;
    top: 15%;
    height: 70%;
    left: 63%;
}

.unionblues{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -920px;
    margin-top: -560px;
    height: 1200px;
}

.p3tright{
	position: fixed;
    top: 2%;
    height: 42%;
    left: 14%;
}

.p3tleft{
	position: fixed;
    top: 30%;
    height: 42%;
    left: 14.5%;
}

.p3bleft{
    position: fixed;
    top: 56%;
    height: 52%;
    left: 41%;
}

.p3bright{
	position: fixed;
    top: 46%;
    height: 37%;
    left: 73%;
}

.visual{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -2048px;
    margin-top: -600px;
    height: 1200px; 
}

.p4top{
    position: fixed;
    top: 4%;
    height: 56%;
    left: 38.5%;
}

.p4left{
    position: fixed;
    top: 41%;
    height: 45%;
    left: 23%;
}

.p4right{
    position: fixed;
    top: 42%;
    height: 44%;
    left: 49%;
}

@media only screen and (max-width: 1600px) {
    .p1left{
        position: fixed;
        margin-top:1%;
        height: 56%;
        margin-left: 19%;
    }
    
    .p1middle{
        position: fixed;
        margin-top:1%;
        height: 56%;
        margin-left: 39.5%;
    }
    
    .p1right{
        position: fixed;
        margin-top:1%;
        height: 56%;
        margin-left: 53.5%;
    }
    
    .p1bmiddle{
        position: fixed;
        margin-left: 39%;
        margin-top: 23%;
        height: 35%;
        transform: rotate(17deg);
    }
    
    .p1bright{
        position: fixed;
        margin-left: 59%;
        margin-top: 36%;
        height: 24%;
    }
    
    .coopertown{
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -170px;
        margin-left: -150px;
        height: 335px;
        width: 293px;
    }
    .p2left{
        position: fixed;
        top: 15%;
        height: 70%;
        left: 14%;
    }
    
    .p2middle{
        position: fixed;
        top: 15%;
        height: 70%;
        left: 40.25%;
    }
    
    .p2right{
        position: fixed;
        top: 15%;
        height: 70%;
        left: 58%;
    }
    
    .unionblues{
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -250px;
        margin-top: -155px;
        height: 300px;
    }
    
    .p3tright{
        position: fixed;
        top: 2%;
        height: 42%;
        left: 14%;
    }
    
    .p3tleft{
        position: fixed;
        top: 30%;
        height: 42%;
        left: 14.5%;
    }
    
    .p3bleft{
        position: fixed;
        top: 56%;
        height: 52%;
        left: 41%;
    }
    
    .p3bright{
        position: fixed;
        top: 46%;
        height: 37%;
        left: 73%;
    }
    
    .visual{
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -2048px;
        margin-top: -600px;
        height: 1200px; 
    }
    
    .p4top{
        position: fixed;
        top: 4%;
        height: 56%;
        left: 38.5%;
    }
    
    .p4left{
        position: fixed;
        top: 41%;
        height: 45%;
        left: 23%;
    }
    
    .p4right{
        position: fixed;
        top: 42%;
        height: 44%;
        left: 49%;
    }
}